<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Fishing index page</h1>
        <ul>
            <% for(let i = 0; i < fishes.length; i++){ %>
                <li>
            <a href="/fishes/<%= fishes[i].id %>"> <%=fishes[i].species%> </a> <br/>
            <!--  ADD DELETE FORM HERE-->
           
            <!-- Add edit link here  -->
			<a href="/fishes/<%= fishes[i].id %>/edit">Edit</a><br/>

            <form action="/fishes/<%= fishes[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/><br/><br/>
            </form>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/fishes/new">Create a New Fishing report.</a>
        </nav>
    </body>
</html>