<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
    <h1> New Fish report Page</h1>
     <!--  NOTE: action will be the route, method will be the HTTP verb-->
     <form action="/fishes" method="POST">
        Species: <input type="text" name="species" /><br/>
        Image: <input type="text" name="img" /><br/>
        Caught by: <input type="text" name="caughtby" /><br/>
         Where Caught: <input type="text" name="wherecaught" /><br/>
       
        Text:<textarea name="text" cols="30" rows="20"></textarea><br/>

        <input type="submit" name="" value="Create Fish"/>
    </form>
    
    </body>
</html>