body{
    color: red;
    background-color: black;
    
}
.fishimg {
    max-width: 30%;
    max-height: fit-content;
         
}
img{
    max-width: 300px;
}
a{
    text-decoration: none;
}
a:link,:visited {
    color: bisque;
}
a:hover{
    color:darksalmon;
}

